@charset "UTF-8";
/* CSS Document */




/*------------ Homepage: All ------------*/

html {
  overflow-x: hidden;
  color-scheme: dark;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
body {
  margin: 0 auto;
  background-color: #000;
  overflow: hidden !important;
}
.container-fluid {
  min-height: 100vh;
}
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
img, video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: block;
  font-size: 0;
}
header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1vw 2vw;
  color: white;
  padding-bottom: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  pointer-events: none;
}
h1 {
  font-size: 70px;
  margin-top: 0vw;
  margin-bottom: 0vw;
  user-select: none;
  -webkit-user-select: none;
}
  @media (max-width: 600px) {
    h1 {
      font-size: 10vw;
      margin-top: 2vw;
      margin-left: 5vw;
    }
  }
.nav-buttons {
  border-radius: 100px;
  background-color: #222;
  cursor: default;
  margin-top: .7vw;
  margin-left: 15px;
  pointer-events: auto;
}
  @media (max-width: 600px) {
    .nav-buttons {
      margin-top: 3vw;
      margin-left: 2vw;
    }
  }
.nav-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 10px 20px;
  width: auto;
  height: auto;
}
  @media (max-width: 600px) {
    .nav-buttons button {
      font-size: 4vw;
      line-height: 5vw;
      padding: 2vw 4vw;
    }
  }
.nav-buttons button:hover {
  background-color: #444;
  border-radius: 100px;
}
.nav-buttons .nav-button-active, .nav-buttons .nav-button-active:hover {
  background-color: white;
  color: black;
  border-radius: 100px;
}
.loadMoreContainer {
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 20vw;
  text-align: center;
}
  @media (max-width: 600px) {
    .loadMoreContainer {
      margin-top: 15vw;
      margin-bottom: 50vw;
    }
  }
.loadMoreButton {
  background-color: #222;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 10px 30px;
  width: auto;
  border-radius: 100px;
}
.loadMoreButton:hover {
  background-color: #444;
  border-radius: 100px;
}






/*------------ Homepage: Grid ------------*/

.grid-container {
  padding: 0px;
  margin-top: 1vw;
}
  @media (max-width: 600px) {
    .grid-container {
      margin-top: 3vw;
    }
  }
.grid-item {
  display: inline-block;
  height: auto;
  width: calc(33.33% - 4px);
  margin-bottom: 6px;
}
  @media (max-width: 600px) {
    .grid-item {
      margin-bottom: 6px;
      width: calc(50% - 3px);
    }
  }
.grid-item:hover {
  opacity: 85%;
}
.grid-item:active {
  opacity: 70%;
}
.grid-item img {
    width: 100%;
    display: block;
    height: auto;
}






/*------------ Homepage: List ------------*/

.table-container {
  width: auto;
  margin: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 30vw;
}
  @media (max-width: 600px) {
    .table-container {
      width: auto;
      max-width: 90vw;
      margin: 5vw;
      margin-top: 3vw;
      margin-bottom: 50vw;
    }
  }
table {
  width: 100%;
  border-collapse: collapse;
}
thead th {
  color: #444 !important;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: #222 !important;
}
tbody tr:hover td:nth-child(2) {
  text-decoration: underline;
}
thead th, tbody td {
  padding: 1vw !important;
  border-bottom: 1px solid #222 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 200px; */
}
#locationTable_wrapper {
  overflow: hidden;
}
thead th:first-child, tbody td:first-child {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}
thead th:last-child, tbody td:last-child {
  padding-right: 2vw !important;
}
  @media (max-width: 600px) {
    thead th, tbody td {
      padding: 2vw !important;
      padding-right: 4vw !important;
    }
    thead th:first-child, tbody td:first-child {
      padding-left: 4vw !important;
    }
    thead th:last-child, tbody td:last-child {
      padding-right: 4vw !important;
    }
    tr:last-child {
      padding-right: 12vw !important;
    }
  }
.dataTables_info {
  display: none;
}
.hover-image {
  position: absolute;
  width: 30vw;
  display: none;
  pointer-events: none;
  z-index: 1000;
}
  @media (max-width: 600px) {
    .hover-image {
      width: 30vw;
    }
  }

/*--- Sorting Arrows Modifications ---*/

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  color: #fff;
  position: absolute;
  display: block;
  right: 10px;
  line-height: 8px;
  font-size: .7em;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  opacity: 1;
  color: #444;
}

.sorting_desc, .sorting_asc, thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc:after {
  color: white !important;
}

/*thead th, tbody td {
  padding-left: 1.5vw !important;
}*/


/*--- Search ---*/

.dataTables_wrapper {
  padding-top: 70px;
}
.dataTables_filter {
  position: relative;
  top: -47px;
}
  @media (max-width: 600px) {
    .dataTables_wrapper {
      padding-top: 20vw;
    }
    .dataTables_filter {
      position: relative;
      top: -5vw;
      left: -2vw;
    }
  }
.dataTables_wrapper .dataTables_filter input {
  border-radius: 100px;
  background: #222;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 10px 20px;
  width: 40vw;
  border: 2px solid black ;
  outline: none !important;
}
  @media (max-width: 600px) {
    .dataTables_wrapper .dataTables_filter input {
      font-size: 4vw;
      line-height: 5vw;
      padding: 2vw 4vw;
      width: 85vw;
    }
  }

.dataTables_wrapper .dataTables_filter input:focus {
  border: 2px solid white ;
  outline: none !important;
}
.list-page {
  position: absolute;
  z-index: 1000000;
}





/*--- Responsive View ---*/

#locationTable {
        width: 100% !important;
    }
@media (max-width: 600px) {
    #locationTable {
        width: 100% !important;
    }
}
.truncate-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75vw; /* Adjust as needed */
}

/*@media screen and (max-width: 768px) {
  table.dataTable tbody tr {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  table.dataTable td {
    display: block;
    width: 100%;
    text-align: left;
  }
  .tag-badge {
    background-color: #444;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
  }
}
*/



/*------------ Homepage: Map ------------*/

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: white;
}

.menu-wrapper {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
}
  @media (max-width: 600px) {
    .menu-wrapper {
      position: fixed;
      padding-left: 5vw;
      padding-right: 5vw;
      bottom: 5vw;
      left: 0vw;
    }
  }
.country-filter {
  min-width: 20vw;
  appearance: none;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0.675em 6em 0.675em 1em;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, .5);
  border-radius: 50px;
  border: solid 1px #202020;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>'); /* Add your dropdown arrow here */
  background-repeat: no-repeat;
  background-position: right .5em center;
  background-size: 1.5em;
}
  @media (max-width: 600px) {
    .country-filter {
      width: 60vw;
      margin-left: 15vw;
      font-size: 4vw;
      padding: 2vw 4vw;
    }
  }

.country-filter:hover {
  background-color: #CCC;
}

/*--- MapBox ---*/

#map { 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  width: 100vw;
  height: 100svh; 
  z-index: -5;
}

.mapboxgl-popup-content {
  border-radius: 16px !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: #000;
  box-shadow:
    0px 8px 16.0px hsl(0deg 0% 0% / 0.25);
}
  @media (max-width: 600px) {
    .mapboxgl-popup-content {
      width: 80vw;
    }
  }

.map-link, .map-link:hover {
  color: #000;
  text-decoration: underline;
}

.mapboxgl-popup-close-button, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-compass, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-ctrl-top-left {
  margin-left: 2vw;
  margin-top: 2vw;
}
  @media (max-width: 600px) {
    .mapboxgl-ctrl-top-left {
      margin-left: 8vw;
      margin-top: 8vw;
    }
  }
.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin-left: 0;
  margin-top: 0;
}


.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #000 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #000 !important;
  margin-top: 28px;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #000 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #000 !important;
}
  @media (max-width: 600px) {
    .mapboxgl-popup-tip {
      display: none !important;
    }
  }


/*--- Pop-ups on Map ---*/

.homepage-project-teaser {
  padding-right: 0.8vw;
  position: relative; 
  text-align: left;
}
  @media (max-width: 600px) {
    .homepage-project-teaser {
      padding-right: 3vw;
    }
  }

.homepage-project-teaser:hover .homepage-project-image {
  opacity: 0.8;
}
.homepage-project-teaser:last-child {
  padding-right: 0;
}
.homepage-project-link {
  color: #fff;
  position: relative; 
  text-decoration: none;
}
.homepage-project-image {
  min-width: 18vw; 
/*  min-width: 200px; */
  height: auto; 
  border-radius: 8px;
}
  @media (max-width: 600px) {
    .homepage-project-image {
      width: 75vw; 
      min-width: 200px; 
      height: auto; 
      border-radius: 12px;
    }
  }

.homepage-project-overlay-text {
  width: 16vw; 
  padding: 1vw; 
  padding-bottom: 0.8vw;
  position: absolute; 
  bottom: 0; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%,rgba(0, 0, 0, 0.7) 100%); 
  border-radius: 0 0 8px 8px;
}
  @media (max-width: 600px) {
    .homepage-project-overlay-text {
      width: 67vw; 
      padding: 4vw; 
      padding-bottom: 3.25vw;
      position: absolute; 
      bottom: 0; 
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%,rgba(0, 0, 0, 0.7) 100%); 
      border-radius: 0 0 12px 12px;
    }
  }

.homepage-xl, .homepage-l, .homepage-s, .homepage-xs {
  color: #FFF;
  font-family: sans-serif;
  font-weight: 400;
}

.homepage-xl {
  font-size: 2vw;
  line-height: 2.5vw;
  margin-top: 0;
  margin-bottom: 1vw;
  font-weight: 700;
}
  @media (max-width: 600px) {
    .homepage-xl {
      font-size: 7vw;
      line-height: 9vw;
      margin-bottom: 4vw;
    }
  }

.homepage-l {
  font-size: 1.25vw;
  line-height: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
}
  @media (max-width: 600px) {
    .homepage-l {
      font-size: 5vw;
      line-height: 6vw;
    }
  }

.homepage-l-project-teaser {
  margin-bottom: 0.25vw;
  font-weight: 700;
}
  @media (max-width: 600px) {
    .homepage-l-project-teaser {
      margin-bottom: 1vw;
      font-weight: 700;
    }
  }

.homepage-s {
  font-size: 1vw;
  line-height: 1.35vw;
  margin-top: 0;
  margin-bottom: .5vw;
}
  @media (max-width: 600px) {
    .homepage-s {
      font-size: 4vw;
      line-height: 5vw;
      margin-top: 0;
      margin-bottom: 3vw;
    }
  }

.homepage-s-project-teaser {
  margin-bottom: 0;
}
  @media (max-width: 600px) {
    .homepage-s-project-teaser {
      margin-bottom: 0;
    }
  }

#close-overlay:hover {
  background-color: rgba(0, 0, 0, 1) !important;
  color: #CCC !important;
  cursor: pointer;
}



/*--- ******************************** ---*/
/*---         Sets / Collections       ---*/
/*--- ******************************** ---*/

/* Match the Footer Reel Scrollbar Style */

.reel-track {
  /* 1. Fix for Firefox: Stop it from being "thin" or auto-hiding */
  scrollbar-width: auto; 
  scrollbar-color: #444 transparent; 
}

/* 2. Fix for Chrome/Safari: Force a custom widget so it never disappears */
.reel-track::-webkit-scrollbar {
  height: 6px;         /* Fixed height */
  display: block;      /* Force it to always exist */
  -webkit-appearance: none; /* Disable native OS styling */
}

.reel-track::-webkit-scrollbar-track {
  background: transparent; 
}

.reel-track::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 1px solid transparent; /* sometimes helps force rendering */
  background-clip: content-box;
}

