@charset "UTF-8";
/* CSS Document */

/*------------ Univeral Styles ------------*/

html {
  overflow-x: hidden;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}


body {
  margin: 0 auto;
  background-color: #000;
  overflow: hidden !important;
}

.container-fluid {
  min-height: 100vh;
}

h1, h2, p, a {
  color: #FFF;
  font-family: sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  }



h2 {
  font-weight: 700;
}

.sub-title {
  font-size: 2rem;
  font-weight: 500;
}
  @media (max-width: 600px) {
    .sub-title {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

p {
  font-size: 1.2rem;
  line-height: 1.9rem;
}
  @media (max-width: 600px) {
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }


a {
  text-decoration: none;
}



span {
  font-weight: 100;
}

.link {
  text-decoration: underline;
}
.link:hover {
  opacity: 0.8;
}





/*----  Desktop Panel ----*/

@media (min-width: 601px) {
  #panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh !important;
    overflow: scroll; 
  }
  .panel-inner {
    height: auto;
    min-height: 100vw;
    width: 20vw;
    min-width: 280px;
    padding: 2vw 2vw 2vw 2vw;
    background-color: #000;
    border-radius: 2vw;
    box-shadow:
      0px 0px 16.0px hsl(0deg 0% 0% / 0.25);
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
  }
  .line-wrapper {
    display: none;
  }
}




/*----  Mobile Panel ----*/

@media (max-width: 600px) {
  #panel {
    pointer-events: none !important;
    position: absolute;
    top: 87.2svh;
  }
  .panel-inner {
    padding: 1vw 8vw 8vw 8vw;
    background-color: #000;
    border-radius: 8vw 8vw 0 0;
    pointer-events: auto;
  }
  .line-wrapper {
    margin-top: 2vw;
    margin-left: 32vw;
    margin-bottom: 7vw;
  }
  .line-mobile {
    height: 6px;
    border-radius: 5px;
    background-color: #fff;
    width: 20vw;
    opacity: .2;
  }
}




/*----  Panel Imagery ----*/

.image-element {
  width: auto;
  height: auto;
  opacity: 1;
    position: relative;
}
.image-element:hover > img {
  opacity: 0.8;
  cursor: pointer;
}
.image-element:hover > .info > h2 {
  text-decoration: underline;
}
.image-element:active > img {
  opacity: 0.8;
}




/*----  Homepage Specific Text Styles ----*/

.panel-headline {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #FFF;
  font-family: sans-serif;
  font-weight: 700;
}
  @media (max-width: 600px) {
    .panel-headline {
      font-size: 8vw;
      line-height: 8vw;
    }
  }

.panel-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.panel-location {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.panel-credit {
  margin-top: 3vh;
  padding-bottom: 1vh;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25vw;
  font-weight: 500;
}



/*----  Filters  ----*/

/*--- Hide and Show ---*/

.expo {
  display: none;
}
input#f-all:checked ~ .all {
  display: block;
}

input#f-east-germany:checked ~ .former-yugoslavia, .hungary {
  display: none;
}
input#f-east-germany:checked ~ .east-germany {
  display: block;
}

input#f-former-yugoslavia:checked ~ .east-germany, .hungary {
  display: none;
}
input#f-former-yugoslavia:checked ~ .former-yugoslavia {
  display: block;
}

input#f-hungary:checked ~ .east-germany, .former-yugoslavia {
  display: none;
}
input#f-hungary:checked ~ .hungary {
  display: block;
}


/*--- Radio & Label Styling ---*/

/* Hide radio buttons */
input {
   display: none;
}
/* Underline all labels so they look like links */
input[type="radio"]+label {
  color: #fff;
  text-decoration: none;
  background-color: #2a2a2a;
  padding: 5px 12px;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: .8rem;
  display: inline-block;
}
/* Remove underline for active label */
input[type="radio"]:checked+label {
  border-bottom: 0px solid;
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
/* Remove hover effect and cusror chancel for active label */
input[type="radio"]:checked:hover+label {
  color: #000;
  cursor: default;
  background-color: #fff;
}
/* Hover effect */
input[type="radio"]:hover+label {
  color: #fff;
  background-color: #4C4C4C;
}
/* Give correct cursor on desktop hover */
label {
  cursor: pointer;
  margin-right: 5px;
  height: auto;
  margin-bottom: 10px;
}
.filter-last {
  margin-bottom: 30px;
}
.note {
  display: none;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}












img, video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: block;
  font-size: 0;
}

.image-vertical {
  margin-left: 16.666%;
  margin-right: 16.666%;
}
    @media (max-width: 600px) {
      .image-vertical {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @media (max-width: 1024px) {
      .image-vertical {
        margin-left: 10%;
        margin-right: 10%;
      }
    }



.image-thumb {
  padding-bottom: 15px;
}
  @media (max-width: 600px) {
    .image-thumb {
      max-width: 50%;
      padding-left: 25%;
      align-content: center;
    }
  }



.text-content {
  margin-left: 25%;
  margin-right: 25%;
}
  @media (max-width: 600px) {
    .text-content {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  @media (max-width: 1024px) {
    .text-content {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

.spacer {
  margin-top: 20vh;
}
.spacer-small {
  margin-top: 5vh;
}
    @media (max-width: 600px) {
      .spacer {
        margin-top: 5vh;
      }
      .spacer-small {
        margin-top: 2vh;
      }
    }






/*------------ Info ------------*/


.info {
  padding-top: 10px;
  padding-bottom: 20px;
}
  @media (max-width: 1024px) {
    .info {
      padding-left: 0px;
      padding-bottom: 30px;
    }
  }


h2 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
p {
  margin-top: 0.2rem;
}


/*------------ Buttons ------------*/

.controls {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  padding: 5px;
  border-radius: 3rem;
  z-index: 9999;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9); /* Adjust the values for your desired shadow */
}

button {
  height: 3rem;
  width: 3rem;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  padding-bottom: .25rem;
  padding-left: .4rem;
  padding-right: .35rem;
  touch-action: manipulation;
}
button:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
button:active {
  background-color: #6E6E6E;
  cursor: grabbing;
}
.button-round {
  border-radius: 50%;
}
.buttonActive, .buttonActive16 {
  background-color: #6E6E6E;
}
.buttonActive16, .buttonActive16:hover {
  background-color: #6E6E6E;
  opacity: .4;
  cursor: default;
}

#controls-back {
  opacity: 1;
}

#controls-back {
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeInOut {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }


/*------------ Header ------------*/

.header {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 25%;
  margin-right: 25%;
}
    @media (max-width: 600px) {
      .header {
/*        padding-left: 20px;
        padding-right: 20px;*/
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    @media (max-width: 1024px) {
      .header {
        margin-left: 10%;
        margin-right: 10%;
      }
    }


/*------------ Footer ------------*/

.footer {
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 25%;
  margin-right: 25%;
}
    @media (max-width: 600px) {
      .footer {
/*        padding-left: 20px;
        padding-right: 20px;*/
        margin-top: 10vh;
        margin-bottom: 10vh;
      }
    }
    @media (max-width: 1024px) {
      .footer {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
.row {
  margin-left: 0;
  margin-right: 0;
}
.previous-teaser {
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
}
.map-teaser {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}
.next-teaser {
  padding-left: 20px;
  padding-right: 20px;
}
    @media (max-width: 600px) {
      .previous-teaser {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
      }
      .next-teaser {
        margin-bottom: 5vh;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
      }
      .map-teaser {
        margin-bottom: 5vh;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
      }
    }
.previous-teaser:hover > a > h2, .next-teaser:hover > a > h2, .map-teaser:hover > a > h2 {
  text-decoration: underline;
}
.next-disabled {
  color: #818181;
}




/*------------ Mapbox ------------*/

#map { 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  width: 100vw;
  height: 100dvh; 
  z-index: -5;
}

.mapboxgl-popup-content {
  border-radius: 16px !important;
  padding-bottom: 20px !important;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  background-color: #000;
  box-shadow:
    0px 8px 16.0px hsl(0deg 0% 0% / 0.25);
}

.map-link, .map-link:hover {
  color: #000;
  text-decoration: underline;
}

.mapboxgl-popup-close-button, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-compass, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-ctrl-top-left {
  margin-left: 2vw;
  margin-top: 2vw;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #000 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #000 !important;
  margin-top: 28px;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #000 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #000 !important;
}





.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
--bs-gutter-x: 0;
 




/*------------ Model Viewer ------------*/

model-viewer {
  width: auto;
  height: 500px;
}
